
<div class="container">
  <h3>Create a new list</h3>
    <%= simple_form_for @list do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>
